.admin-container {
    width: 100%;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
}

.toggle-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.toggle-container button {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.toggle-container button.active {
    background-color: #063B06;
    color: white;
}

.header-container {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
}

.add-button {
    background-color: #2d4b21;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
    width: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.popup {
    position: fixed;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 100;
    text-align: center;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Khoảng cách giữa hai nút */
    margin-top: 10px;
  }
  
  .button-group button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f1f1f1;
  }
  
  .button-group button:first-child {
    background-color: #f1f1f1;
  }
  
  .button-group button:last-child {
    background-color: #f1f1f1;
  }
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.pagination-container button {
    background-color: #063B06;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.pagination-container button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.pagination-container span {
    font-size: 16px;
    font-weight: bold;
}



