<div class="forgot-password-container">
    <div class="form-section">
      <a routerLink="/login" class="back-link">← Quay lại đăng nhập</a>
  
      <ng-container *ngIf="!isConfirmStep; else confirmStep">
        <h2 class="title">Bạn quên mật khẩu?</h2>
        <p class="subtitle">Nhập email của bạn để nhận mã khôi phục.</p>
        
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" required />
        </div>
  
        <button (click)="onSubmit()" class="submit-button">Gửi</button>
      </ng-container>
  
      <ng-template #confirmStep>
        <app-confirm-code></app-confirm-code>
      </ng-template>
    </div>
    
    <div class="logo-section">
      <img src="assets/image/logo (2).png" class="logo" />
    </div>
  </div>
  
  <!-- Popup HTML -->
<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content">
    <p>{{ popupMessage }}</p>
    <button (click)="closePopup()">Đóng</button>
  </div>
</div>