<aside [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <h3>Collab</h3>
    <button class="toggle-btn" (click)="toggleSidebar()">❮</button>
  </div>

  <div class="menu">
    <button routerLink="/dashboard" routerLinkActive="active">
      <lucide-icon name="layout-dashboard" strokeWidth="1.7" size="20"></lucide-icon>
      <span>Dashboard</span>
    </button>
    <button routerLink="/product" routerLinkActive="active">
      <lucide-icon name="box" strokeWidth="1.7" size="20"></lucide-icon>
      <span>Product</span>
    </button>
    <button routerLink="/promotions" routerLinkActive="active">
      <lucide-icon name="calendar-clock" strokeWidth="1.7" size="20"></lucide-icon>
      <span>Promotions</span>
    </button>
    <button routerLink="/order" routerLinkActive="active">
      <lucide-icon name="truck" strokeWidth="1.7" size="20"></lucide-icon>
      <span>Orders</span>
    </button>
    <button routerLink="/admin-account" routerLinkActive="active">
      <lucide-icon name="settings" strokeWidth="1.7" size="20"></lucide-icon>
      <span>Account management</span>
    </button>
  </div>
</aside>
